<header class="d-flex bg-white flex-row p-3 px-4 mb-3 mx-5 fixed-top justify-content-between align-items-center">
    <img class="logo" src="/assets/images/logo1.png" alt="logo" id="logo" style="max-height: 180px;" routerLink="/">
    <nav class="my-2 text-uppercase fs-4">
        <ul>
            <a class="p-4" 
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >Home</a>
            <a class="p-4" routerLink="/shop" routerLinkActive="active">Shop</a>
            <a class="p-4" routerLink="/contact" routerLinkActive="active">Contact</a>
        </ul>
    </nav>
    <div class="d-flex align-items-center">
        <a href="" class="btn me-3">Login</a>
        <a href="" class="btn me-5">Signup</a>
        <a class="shopping-cart-btn position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
    </div>
</header>